# .NET
bin/
obj/
*.user
*.suo
.vs/
*.swp
publish/

# Terraform
**/.terraform/
*.tfstate
*.tfstate.backup
*.tfstate.lock.info
.terraform.lock.hcl
*.tfvars
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Secrets / environment
.env
appsettings.*.json
!appsettings.json
